.idea
.DS_Store

/vendor/
composer.lock

###> squizlabs/php_codesniffer ###
/.phpcs-cache
###< squizlabs/php_codesniffer ###

###> vimeo/psalm ###
/.psalm-cache/
###< vimeo/psalm ###

###> phpunit/phpunit ###
/.phpunit.cache/
/phpunit.xml
/coverage/
###< phpunit/phpunit ###
